<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="utf-8" />
    <title>跨域请求</title>
    <script th:src="@{https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js}">
    </script>
    <script>
        $(document).ready(function(){
            $("button").click(function(){
                $.ajax({url:"http://localhost:8080/ipc/test",success:function(result){
                        $("#p1").html(result);
                    }});
            });
        });
    </script>
</head>
<span th:text="${executeTime}"></span>
<body>

<p width="500px" height="100px" id="p1"></p>
<button>获取其他内容</button>
</body>
</html>